<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JOBCODE-Database Management system</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{url_for ('static', filename= 'lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href=" {{url_for ('static', filename= 'lib/animate/animate.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href=" {{ url_for ('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href= "{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>123 Street,Lahore, Pakistan</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+92 309 6614579</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>jobecode@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>JobCode</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                     <a href="/contact" class="nav-item nav-link">Contact</a>
                    <a href="/services" class="nav-item nav-link active ">Services</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Profile</a>
                        <div class="dropdown-menu m-0">
                            <a href="/logout" class="dropdown-item">LOG OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Data Structure and Algorithum</h1>
                    <a href="/services" class="h5 text-white">Services</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="/test" class="h5 text-white">Tests</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Navbar End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->

     <!-- Test Area -->
     <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">DBS Test</h3>
            <div id="timer">Time Remaining: 7:00</div>
        </div>
        <form action="/dbstest" method="POST" id="quizForm">
        <div class="bg-light wow zoomIn"  style="margin-left: 200px; margin-right: 200px">
            <br><h5 style="color:steelblue; text-align: center;">Topics</h5>
            <p style="margin-left: 80px; margin-right: 80px">
                Welcome to the Database Test Website! This platform is dedicated to assessing your knowledge and proficiency in the captivating realm of Database Systems. Whether you are an aspiring database developer, a seasoned database administrator, or a curious learner eager to explore the world of data management, this test is tailor-made to challenge and expand your understanding.
The Database Test covers a wide array of essential topics that are instrumental in crafting efficient, secure, and scalable databases. Throughout this assessment, you will immerse yourself in a comprehensive exploration of key concepts, data structures, algorithms, and analysis techniques that form the backbone of robust database design and management.
The test aims to evaluate your understanding of data structures, algorithms, and their practical applications. The topics covered in this test include:<br> <b>Data Modeling and Database Design</b>
                <ul style="margin-left: 80px; margin-right: 80px;">
                    <li>Entity-Relationship (ER) Diagrams</li>
                    <li>Normalization </li>
                    <li>Database Schema and Constraints</li>
                </ul style="margin-left: 80px; margin-right: 80px;">
                <b style="margin-left: 80px; margin-right: 80px;">Relational Database Management System (RDBMS):</b>
                <ul style="margin-left: 80px; margin-right: 80px;">
                    <li>SQL (Structured Query Language) Fundamentals</li>
                    <li>CRUD Operations (Create, Read, Update, Delete)</li>
                    <li>Joins and Subqueries</li>
                </ul>
                <b style="margin-left: 80px; margin-right: 80px;">Transactions and Concurrency Control:</b>
                <ul style="margin-left: 80px; margin-right: 80px;">
                    <li>ACID Properties</li>
                    <li>Locking and Deadlock Handling</li>
                    <li>Isolation Levels</li>
                </ul>
              </p>
            <div class="content-wrapper" style="padding: 50px;">
                <!--Question 1-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Which SQL function is used to find the length of a string?</h5></b>
                    <br>
                    <label ><input type="radio" name="Q1" value="1">LEN</label>
                    <br>
                    <label><input type="radio" name="Q1" value="2">LENGTH</label>
                    <br>
                    <label><input type="radio" name="Q1" value="3">COUNT</label>
                    <br>
                    <label><input type="radio" name="Q1" value="4">SIZE</label>
                </diV>

                <!--Question 2-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In SQL, the GROUP BY clause is usually followed by which keyword to specify a condition on the grouped rows?</h5></b>
                    <br>
                    <label ><input type="radio" name="Q2" value="1">WHERE</label>
                    <br>
                    <label><input type="radio" name="Q2" value="2">ORDER BY</label>
                    <br>
                    <label><input type="radio" name="Q2" value="3">HAVING</label>
                    <br>
                    <label><input type="radio" name="Q2" value="4">JOIN</label>
                </diV>

                <!--Question 3-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Which of the following is an example of an aggregate function in SQL?</h5></b>
                    <br>
                    <label ><input type="radio" name="Q3" value="1">CONCAT</label>
                    <br>
                    <label><input type="radio" name="Q3" value="2">LOWER</label>
                    <br>
                    <label><input type="radio" name="Q3" value="3">MAX</label>
                    <br>
                    <label><input type="radio" name="Q3" value="4">REPLACE</label>
                </diV>

                <!--Question 4-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Which type of JOIN returns all rows from the left table and the matched rows from the right table, filling unmatched columns with NULL values?</h5></b>
                    <br>
                    <label ><input type="radio" name="Q4" value="1">INNER JOIN</label>
                    <br>
                    <label><input type="radio" name="Q4" value="2">LEFT JOIN </label>
                    <br>
                    <label><input type="radio" name="Q4" value="3">RIGHT JOIN</label>
                    <br>
                    <label><input type="radio" name="Q4" value="4">FULL JOIN</label>
                </diV>

                <!--Question 5-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In SQL, the ORDER BY clause is used to:</h5></b>
                    <br>
                    <label ><input type="radio" name="Q5" value="1">Specify the columns to be included in the result set.</label>
                    <br>
                    <label><input type="radio" name="Q5" value="2">Perform mathematical calculations on the result set</label>
                    <br>
                    <label><input type="radio" name="Q5" value="3">Filter the rows based on a condition.</label>
                    <br>
                    <label><input type="radio" name="Q5" value="4">Sort the result set in ascending or descending order</label>
                </diV>

                <!--Question 6-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Which JOIN type returns all rows from the right table and the matched rows from the left table, filling unmatched columns with NULL values?</h5></b>
                    <br>
                    <label ><input type="radio" name="Q6" value="1">RIGHT JOIN</label>
                    <br>
                    <label><input type="radio" name="Q6" value="2">LEFT JOIN</label>
                    <br>
                    <label><input type="radio" name="Q6" value="3">FULL JOIN</label>
                    <br>
                    <label><input type="radio" name="Q6" value="4">INNER JOIN</label>
                </diV>

                 <!--Question 7-->
                    <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                        <b><h5 style="user-select: none; color: black; ">In SQL, the HAVING clause is used to:</h5></b>
                        <br>
                        <label ><input type="radio" name="Q7" value="1">Filter the rows based on a condition.</label>
                        <br>
                        <label><input type="radio" name="Q7" value="2">Sort the result set in ascending or descending order.</label>
                        <br>
                        <label><input type="radio" name="Q7" value="3">Specify the columns to be included in the result set.</label>
                        <br>
                        <label><input type="radio" name="Q7" value="4">Filter the groups based on a condition. </label>
                    </diV>

                <!--Question 8-->
                    <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                        <b><h5 style="user-select: none; color: black; ">What is the purpose of a cursor in a database query?</h5></b>
                        <br>
                        <label ><input type="radio" name="Q8" value="1">To retrieve data from a single table.</label>
                        <br>
                        <label><input type="radio" name="Q8" value="2">To retrieve data from a single table.</label>
                        <br>
                        <label><input type="radio" name="Q8" value="3">To retrieve data in a controlled manner, row by row. </label>
                        <br>
                        <label><input type="radio" name="Q8" value="4">To perform mathematical calculations on a result set.</label>
                    </diV>

                <!--Question 9-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Suppose we are given a view tot credits (year, num credits) giving the total number of credits taken by students in each year.The query that computes averages over the 3 preceding tuples in the specified sort order is _________</h5></b>
                    <br>
                    <label ><input type="radio" name="Q9" value="1">SELECT YEAR, avg(num credits)
                        OVER (ORDER BY YEAR ROWS 3 preceding) AS avg total credits
                        FROM tot credits;
                        </label>
                    <br>
                    <label><input type="radio" name="Q9" value="2">SELECT YEAR, avg(num credits)
                        OVER (ORDER BY YEAR ROWS 3 unbounded preceding) AS avg total credits
                        FROM tot credits;
                        </label>
                    <br>
                    <label><input type="radio" name="Q9" value="3">SELECT YEAR, MIN(num credits)
                        OVER (ORDER BY YEAR ROWS 3 unbounded preceding) AS avg total credits
                        FROM tot credits;
                        </label>
                    <br>
                    <label><input type="radio" name="Q9" value="4">SELECT YEAR, SUM(num credits)
                        OVER (ORDER BY YEAR ROWS 3 unbounded preceding) AS avg total credits
                        FROM tot credits;
                        </label>
                </diV>

                <!--Question 10-->
                <div class="form-outline mb-4" style="padding:20px; padding-left: 30px; padding-right: 30px;background-color: white; user-select: none; color:black">
                            <b><h5 style="user-select: none; color: black; ">._______________ joins are SQL server default.</h5></b>
                            <br>
                            <label ><input type="radio" name="Q10" value="1">OUTER</label>
                            <br>
                            <label><input type="radio" name="Q10" value="2">INNER</label>
                            <br>
                            <label><input type="radio" name="Q10" value="3">EQUI</label>
                            <br>
                            <label><input type="radio" name="Q10" value="4">NONE OF THE MENTIONED</label>
                </diV>
                <div  class="center" class=" align-items-center justify-content-center">
                    <div class="p-3" class="center" >
                         <input type="hidden" id="timeRemaining" name="timeRemaining" value="420"> <!-- 7 minutes = 420 seconds -->
                        <input class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft align-items-center justify-content-center"
                               type="submit" value="Submit" id ="submitButton">
                    </div>
               </div>
            </div>
        </div>      
        </form>
    </div>
    <script>
        // Function to start the timer when the page is loaded
        document.addEventListener("DOMContentLoaded", function () {

            // Start the timer
            const remainingTime = parseInt(document.getElementById("timeRemaining").value);
            const display = document.getElementById("timer");
            startTimer(remainingTime, display);

            // Enable the "Submit" button after the timer has started
            setTimeout(function () {
                document.querySelector('input[type="submit"]').disabled = false;

                // Automatically submit the quiz when the timer runs out
                document.getElementById("quizForm").submit();
            }, remainingTime * 1000);
        });

        // Function to start the timer
        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            const countdownInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = "Time Remaining: " + minutes + ":" + seconds;

                if (--timer < 0) {
                    // Automatically submit the quiz when the timer runs out
                    clearInterval(countdownInterval);
                    document.getElementById("quizForm").submit();
                }
            }, 1000);
        }
    </script>
    <script>
        // Disable the back button
        function disableBackButton() {
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, null, window.location.href);
            };
        }
    
        // Disable the button after submission to prevent multiple submissions
        document.getElementById('quizForm').addEventListener('submit', function () {
            document.getElementById('submitButton').classList.add('disabled');
            disableBackButton();
        });
        </script>
        <script>
            // This script will add the result.html to the history
            window.history.pushState({}, "", "/result");
    
            // Show confirmation dialog when the user tries to reload the page
            window.addEventListener("beforeunload", function (event) {
                event.preventDefault();
                event.returnValue = ""; // Some browsers require a return value here
            });
        </script>
        <!--Test end-->

    <!--Footer-->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>Job Code</h1>
                        </a>
                        <p class="mt-3 mb-4">At JobCode, our mission is to empower individuals to find their dream jobs while assisting companies in hiring top-notch talent. </p>
                        <form id="subscription-form" action="/subscribe"method="POST">
                            <div class="input-group">
                                <input type="email" name = "email" class="form-control border-white p-3" placeholder="Your Email">
                                <button onclick="subscribed()" class="btn btn-dark">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Get In Touch</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">123 Street,  Lahore, Pakistan</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">jobcode@gmail.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+92 309 6614576</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary btn-square me-2" href="https://www.facebook.com/profile.php?id=100094200336219"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Quick Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                 <a class="text-light mb-2" href="/"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="/about"><i class="bi bi-arrow-right text-primary me-2"></i>About</a>
                                <a class="text-light mb-2 " href="/services"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                <a class="text-light" href="/contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Popular Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                 <a class="text-light mb-2" href="/"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="/about"><i class="bi bi-arrow-right text-primary me-2"></i>About</a>
                                <a class="text-light mb-2 " href="/services"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                <a class="text-light" href="/contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                        <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">Jobcode</a>. All Rights Reserved.

						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">Gangs of Wasseypur</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src=" {{url_for ('static', filename= 'lib/wow/wow.min.js')}}"></script>
    <script src=" {{url_for ('static', filename= 'lib/easing/easing.min.js')}}"></script>
    <script src=" {{url_for ('static', filename= 'lib/waypoints/waypoints.min.js')}}"></script>
    <script src=" {{url_for ('static', filename= 'lib/counterup/counterup.min.js')}}"></script>
    <script src="  {{url_for ('static', filename= 'lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src=" {{url_for ('static', filename= 'js/main.js')}}"></script>

    <script>
        function subscribed() 
        {
        var email = document.getElementsByName('email')[0].value;
        if(email){
            alert(email +" is subscribed for Updates!")
            document.getElementById('subscription-form').submit();
        }
        else{
        alert("Enter Valid Email to subscribe!")
            document.getElementById('subscription-form').submit();}
        }
    
    </script>
</body>

</html>