<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Interviewer Signup</title>
  <style>
      .container {
  max-width: 350px;
  margin: 0 auto;
          border: 1px solid #ccc;
  padding: 20px;
  background-color: #e4e4e450;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

    .divider:after,
    .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
    }

    .h-custom {
      height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
      .h-custom {
        height: 100%;
      }
    }
  </style>
</head>

<body>
 <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Left -->
         <h5 class="text-white"><i class="fa fa-user-tie me-2"></i>INTERVIEWER-SIGNUP</h5>
      </div>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{{ url_for ('static' , filename='img/Online page-bro.png')}}" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h3 style="text-align: center; font-family:'inherit'">WELCOME TO JOBCODE!</h3>
          <form action="/data/interviewer" method="POST">
          <div class="container">
            <!-- Name input -->
              <div class="form-group">
                  <label style="font-weight:bold" class="form-label" for="name">Name</label>
                  <input style="background-color: aliceblue" type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required="True">
              </div>
  <!-- Company input -->
            <div class="form-group">
                <label style="font-weight:bold" class="form-label" for="company">Company</label>
                <input style="background-color: aliceblue" type="text" id="company" name="company" class="form-control" placeholder="Enter your company" required="True">
            </div>
  <!-- Designation input -->
              <div class="form-group">
                  <label style="font-weight:bold" class="form-label" for="designation">Designation</label>
                  <select style="background-color: aliceblue" id="designation" name="designation" class="form-control" required>
                      <option value="">Select designation</option>
                      <option value="manager">Manager</option>
                      <option value="hr">HR</option>
                      <option value="worker">Worker</option>
                  </select>
            </div>
          </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <a href = "/login/form" ><input type="submit" value="Submit" type="button" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"></a>
              <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login/form" class="link-danger">LOGIN</a></p>
            </div>
          </form>
          </div>
        </div>
      </div>
      <!-- Left -->
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
</body>

</html>