<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JOBCODE-Operating Systems</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{url_for ('static', filename= 'lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href=" {{url_for ('static', filename= 'lib/animate/animate.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href=" {{ url_for ('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href= "{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
        .center {
  margin-right: 500px;
  margin-left: 520px;
 max-width: 900px;
}
    </style>
</head>

<body>

    <script>
        function subscribed()
        {
        var email = document.getElementsByName('email')[0].value;
        if(email){
            alert(email +" is subscribed for Updates!")
            document.getElementById('subscription-form').submit();
        }
        else{
        alert("Enter Valid Email to subscribe!")
            document.getElementById('subscription-form').submit();}
        }

    </script>

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>123 Street,Lahore, Pakistan</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+92 309 6614579</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>jobecode@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>JobCode</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                     <a href="/contact" class="nav-item nav-link">Contact</a>
                    <a href="/services" class="nav-item nav-link active ">Services</a>
                     <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tests</a>
                        <div class="dropdown-menu m-0">
                            <a href="/dsa" class="dropdown-item">Data Structures</a>
                            <a href="/dbs" class="dropdown-item">Database</a>
                            <a href="/cn" class="dropdown-item">Computer Networks</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Profile</a>
                        <div class="dropdown-menu m-0">
                            <a href="/logout" class="dropdown-item">LOG OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Online Tests</h1>
                    <a href="" class="h5 text-white">Operating Systems</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Navbar End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Test Area -->
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h3 class="fw-bold text-primary text-uppercase">OS Test</h3>
            <div id="timer">Time Remaining: 7:00</div>
        </div>
        <form action="/ostest" method="POST" id = "quizForm">
        <div class="bg-light wow zoomIn"  style="margin-left: 200px; margin-right: 200px">
            <br><h5 style="color:steelblue; text-align: center;">Topics</h5>
              <p style="margin-left: 80px; margin-right: 80px">
                Topics:<br>
                  -Scheduling Algorithms<br>
                  -Commands in Linux and Windows<br>
                  -Basic Operating systems concepts<br>

              </p>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Which of the following scheduling algorithms exhibits
                        the highest degree of fairness and is particularly suitable for real-time systems with hard deadlines?<br>
                        beginning of the list?</h5></b>
                    <label ><input type="radio" name="Q1" value="1"> First-Come, First-Served (FCFS) </label>
                    <br>
                    <label><input type="radio" name="Q1" value="2"> Shortest Job Next (SJN); </label>
                    <br>
                    <label><input type="radio" name="Q1" value="3"> Round Robin (RR);</label>
                    <br>
                    <label><input type="radio" name="Q1" value="4"> Earliest Deadline First (EDF) </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In modern operating systems, memory management using demand paging
                        involves various replacement policies for selecting pages to be evicted from memory.
                        Which policy aims to minimize the number of page faults by selecting the
                        page that will not be used for the longest time?</h5></b>
                    <label ><input type="radio" name="Q2" value="1"> Least Recently Used (LRU)</label>
                    <br>
                    <label><input type="radio" name="Q2" value="2"> Optimal Page Replacement </label>
                    <br>
                    <label><input type="radio" name="Q2" value="3"> Most Recently Used (MRU)</label>
                    <br>
                    <label><input type="radio" name="Q2" value="4"> First-In-First-Out (FIFO) </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">Consider a system with multiple processor cores,
                        and a shared main memory used by all cores.
                        Which memory consistency model provides the strongest guarantees for data synchronization among cores?</h5></b>
                    <label ><input type="radio" name="Q3" value="1"> Sequential Consistency (SC)</label>
                    <br>
                    <label><input type="radio" name="Q3" value="2"> Release Consistency (RC) </label>
                    <br>
                    <label><input type="radio" name="Q3" value="3"> Total Store Order (TSO)</label>
                    <br>
                    <label><input type="radio" name="Q3" value="4">Relaxed Memory Order (RMO) </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In the context of file systems, which technique is used to
                        improve performance by reducing disk arm movement and minimizing seek time?</h5></b>
                    <label ><input type="radio" name="Q4" value="1"> Linked allocation</label>
                    <br>
                    <label><input type="radio" name="Q4" value="2"> Indexed allocation </label>
                    <br>
                    <label><input type="radio" name="Q4" value="3"> Cylinder-head-sector (CHS) addressing</label>
                    <br>
                    <label><input type="radio" name="Q4" value="4"> Cylinder Grouping </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">When a process in the running state voluntarily relinquishes the CPU,
                        it enters a waiting state until a certain event occurs. What is this event typically referred to as?</h5></b>
                    <label ><input type="radio" name="Q5" value="1">  I/O request</label>
                    <br>
                    <label><input type="radio" name="Q5" value="2"> Context switch </label>
                    <br>
                    <label><input type="radio" name="Q5" value="3"> Preemption</label>
                    <br>
                    <label><input type="radio" name="Q5" value="4"> Semaphore signal </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In Unix-like operating systems, which command is used to
                        display the manual pages (documentation) for a specific Unix command?</h5></b>
                    <label ><input type="radio" name="Q6" value="1"> info</label>
                    <br>
                    <label><input type="radio" name="Q6" value="2"> man </label>
                    <br>
                    <label><input type="radio" name="Q6" value="3"> help</label>
                    <br>
                    <label><input type="radio" name="Q6" value="4"> doc </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In virtual memory management, the Translation Lookaside Buffer (TLB) is a
                        hardware cache used to store page table entries. What problem may arise if the TLB is not properly managed?</h5></b>
                    <label ><input type="radio" name="Q7" value="1"> Page faults may increase, leading to excessive disk I/O.</label>
                    <br>
                    <label><input type="radio" name="Q7" value="2"> Process priority inversion may occur. </label>
                    <br>
                    <label><input type="radio" name="Q7" value="3"> Cache coherence may be compromised in a multicore system.</label>
                    <br>
                    <label><input type="radio" name="Q7" value="4"> Deadlocks may occur due to incorrect synchronization. </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In some operating systems, a process can create a child process using the fork() system call.
                        What happens to the address space of the child process after forking?</h5></b>
                    <label ><input type="radio" name="Q8" value="1"> The child process shares the same address space as the parent process.</label>
                    <br>
                    <label><input type="radio" name="Q8" value="2"> The child process gets a copy of the parent process's address space. </label>
                    <br>
                    <label><input type="radio" name="Q8" value="3"> The child process receives a separate address space, but it remains empty until data is explicitly copied from the parent.</label>
                    <br>
                    <label><input type="radio" name="Q8" value="4"> The child process inherits only the stack and heap segments of the parent's address space. </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">When implementing a multithreading program, developers must be cautious about data races.
                        Which technique can help identify potential data races and synchronization issues in a program?</h5></b>
                    <label ><input type="radio" name="Q9" value="1"> Thread-safe libraries</label>
                    <br>
                    <label><input type="radio" name="Q9" value="2"> Deadlock detection </label>
                    <br>
                    <label><input type="radio" name="Q9" value="3"> Static code analysis tools</label>
                    <br>
                    <label><input type="radio" name="Q9" value="4"> Process synchronization mechanisms  </label>
                </div>
            </div>
            <div class="content-wrapper" style="padding: 50px;">
                <div class="form-outline mb-4" style="padding: 50px; background-color: white; user-select: none; color:black">
                    <b><h5 style="user-select: none; color: black; ">In Windows operating systems, which command is used to create
                        a symbolic link (or soft link) between files or directories?</h5></b>
                    <label ><input type="radio" name="Q10" value="1"> mklink</label>
                    <br>
                    <label><input type="radio" name="Q10" value="2"> ln </label>
                    <br>
                    <label><input type="radio" name="Q10" value="3"> symlink</label>
                    <br>
                    <label><input type="radio" name="Q10" value="4"> link </label>
                </div>
            </div>
            <div  class="center" class=" align-items-center justify-content-center">
                    <div class="p-3" class="center" >
                        <input type="hidden" id="timeRemaining" name="timeRemaining" value="420"> <!-- 7 minutes = 420 seconds --><br>
                        <input class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft align-items-center justify-content-center"
                               type="submit" value="Submit" id ="submitButton" onclick="manualSubmit()">
                    </div>
               </div>
        </div>
        </form>
    </div>
   <script>
        let countdownInterval;

        // Function to start the timer when the page is loaded
        document.addEventListener("DOMContentLoaded", function () {

            // Start the timer
            const remainingTime = parseInt(document.getElementById("timeRemaining").value);
            const display = document.getElementById("timer");
            startTimer(remainingTime, display);
        });

        // Function to start the timer
        function startTimer(duration, display) {
            let timer = duration, minutes, seconds;
            countdownInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = "Time Remaining: " + minutes + ":" + seconds;

                if (--timer < 0) {
                    // Automatically submit the quiz when the timer runs out
                    clearInterval(countdownInterval);
                    document.getElementById("quizForm").submit();
                }
            }, 1000);
        }

        // Function to manually submit the quiz
        function manualSubmit() {
            clearInterval(countdownInterval); // Cancel the automatic submission
            document.getElementById("quizForm").submit(); // Submit the quiz manually
        }
    </script>
    <script>
    // Disable the back button
    function disableBackButton() {
        window.history.pushState(null, null, window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, null, window.location.href);
        };
    }

    // Disable the button after submission to prevent multiple submissions
    document.getElementById('quizForm').addEventListener('submit', function () {
        document.getElementById('submitButton').classList.add('disabled');
        disableBackButton();
    });
    </script>
    <script>
        // This script will add the result.html to the history
        window.history.pushState({}, "", "/result");

        // Show confirmation dialog when the user tries to reload the page
        window.addEventListener("beforeunload", function (event) {
            event.preventDefault();
            event.returnValue = ""; // Some browsers require a return value here
        });
    </script>
      <!--Test end-->

    <!--Footer-->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>Job Code</h1>
                        </a>
                        <p class="mt-3 mb-4">At JobCode, our mission is to empower individuals to find their dream jobs while assisting companies in hiring top-notch talent. </p>
                        <form id="subscription-form" action="/subscribe" method="POST">
                            <div class="input-group">
                                <input type="email" name = "email" class="form-control border-white p-3" placeholder="Your Email">
                                <button onclick="subscribed()" class="btn btn-dark">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Get In Touch</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">123 Street,  Lahore, Pakistan</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">jobcode@gmail.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+92 309 6614576</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary btn-square me-2" href="https://www.facebook.com/profile.php?id=100094200336219"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Quick Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                 <a class="text-light mb-2" href="/"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="/about"><i class="bi bi-arrow-right text-primary me-2"></i>About</a>
                                <a class="text-light mb-2 " href="/services"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                <a class="text-light" href="/contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Popular Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                 <a class="text-light mb-2" href="/"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="/about"><i class="bi bi-arrow-right text-primary me-2"></i>About</a>
                                <a class="text-light mb-2 " href="/services"><i class="bi bi-arrow-right text-primary me-2"></i>Our Services</a>
                                <a class="text-light" href="/contact"><i class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                        <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">Jobcode</a>. All Rights Reserved.

						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">Gangs of Wasseypur</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src=" {{url_for ('static', filename= 'lib/wow/wow.min.js')}}"></script>
    <script src=" {{url_for ('static', filename= 'lib/easing/easing.min.js')}}"></script>
    <script src=" {{url_for ('static', filename= 'lib/waypoints/waypoints.min.js')}}"></script>
    <script src=" {{url_for ('static', filename= 'lib/counterup/counterup.min.js')}}"></script>
    <script src="  {{url_for ('static', filename= 'lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src=" {{url_for ('static', filename= 'js/main.js')}}"></script>
</body>

</html>